@use 'main/reset';
@use 'main/fonts';
@use 'main/main';
@use 'main/mixin';

@use 'index/header';
@use 'index/footer';
@use 'index/title';
@use 'index/shop';
@use 'index/benefits';
@use 'index/work';
@use 'index/form';
@use 'index/news';
@use 'index/que';
@use 'index/arc';
@use 'index/price';