@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* reset.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  width: 1240px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

.rtext {
  z-index: 101;
  position: absolute;
  top: 60%;
  right: 40px;
  font-size: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #86a5be;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rtext::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.96875 0V11.2031L0.6875 9.0156L0 9.7344L3.46094 13.0664L6.93755 9.7344L6.24995 9.0156L3.96875 11.1992V0H2.96875Z' fill='%2386A5BE'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
}
.header_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 22px 0;
}
.header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.header_logo {
  height: 50px;
}
.header_logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  padding: 0px 30px;
  background-color: #F9F9F9;
  border-radius: 20px;
}
.header_nav_item {
  font-weight: 400;
  color: #444B54;
  padding: 10px;
  border-radius: 10px;
}
.header_nav_item:hover {
  background-color: #444B54;
  color: #c7ffee;
}
.header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}
.header_info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header_info_social_item {
  background-color: white;
  padding: 12px;
  border-radius: 50px;
}
.header_info_social_item img {
  height: 20px;
}
.header_info_social_item:hover {
  background-color: #c7ffee;
}
.header_info_tel {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header_info_tel_phone {
  font-weight: 700;
  color: #444B54;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  width: auto;
}
.header_info_tel_phone:hover {
  background-color: #444B54;
  color: #c7ffee;
}
.header_info_tel_time {
  padding: 0 10px;
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
}

.title {
  margin-top: 80px;
  position: relative;
}
.title_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.title_main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  margin: 100px 0 50px 0;
}
.title_photo {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 100;
}
.title_photo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.title_h1 {
  font-weight: 400;
  color: #444B54;
  font-size: 40px;
  line-height: 105%;
}
.title_list {
  list-style: disc;
  list-style-position: inside;
  margin-top: 34px;
}
.title_list_item {
  font-weight: 700;
  color: #444B54;
  font-size: 22px;
  margin-top: 8px;
}
.title_button {
  margin-top: 50px;
  font-weight: 700;
  color: #444B54;
  display: inline-block;
  border-radius: 42px;
  background: #c7ffee;
  font-size: 18px;
  padding: 16px 55px;
  color: #5f5f5f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.title_button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #444B54;
  color: #c7ffee;
}

.shop {
  margin-top: 60px;
  position: relative;
}
.shop_title {
  font-weight: 700;
  color: #444B54;
  font-size: 40px;
}
.shop_container {
  background-color: #fff;
  border-radius: 30px;
  padding: 55px;
}
.shop_wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.shop_item {
  border-radius: 40px;
  background-color: #F9F9F9;
  padding: 32px;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}
.shop_item_title {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
  z-index: 201;
}
.shop_item_title_h2 {
  font-weight: 700;
  color: #444B54;
  font-size: 20px;
}
.shop_item_title_descr {
  margin-top: 8px;
  font-weight: 400;
  color: #444B54;
  font-size: 16px;
}
.shop_item_button {
  grid-column: 1/2;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}
.shop_item_button_btn {
  display: inline-block;
  border-radius: 42px;
  background: #c7ffee;
  font-size: 18px;
  padding: 16px 55px;
  color: #5f5f5f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 14px;
  padding: 10px 20px;
  position: relative;
  z-index: 201;
}
.shop_item_button_btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #444B54;
  color: #c7ffee;
}
.shop_item_button_text {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
  color: #8e8e8e;
}
.shop_item_photo {
  position: absolute;
  width: 70%;
  height: 70%;
  right: 0;
  bottom: 7%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.shop_item_photo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.shop_item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.shop_item:nth-child(1) .shop_item_photo {
  width: 100%;
  bottom: 12%;
}
.shop_item:nth-child(1) .shop_item_title_h2 {
  font-size: 26px;
}
.shop_item:nth-child(1) .shop_item_title_descr {
  font-size: 22px;
}
.shop_item:nth-child(1) .shop_item_button {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column: 1/4;
}
.shop_item:nth-child(1) .shop_item_button_btn {
  font-size: 18px;
  padding: 10px 26px;
}
.shop_item:nth-child(1) .shop_item_button_text {
  margin-bottom: 13px;
}

.benefits {
  margin-top: 120px;
}
.benefits_title {
  font-weight: 700;
  color: #444B54;
  font-size: 40px;
  position: relative;
  z-index: 101;
}
.benefits_title::after {
  content: "";
  position: absolute;
  width: 60%;
  left: 10%;
  bottom: 10%;
  height: 40%;
  background: #c7ffee;
  z-index: -1;
}
.benefits_wrapper {
  margin-top: 90px;
  display: grid;
  gap: 0px;
}
.benefits_photo {
  border-radius: 32px;
  height: 270px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.benefits_photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.benefits_main_title {
  font-weight: 700;
  color: #444B54;
  font-size: 18px;
  position: relative;
}
.benefits_main_title::after {
  content: "";
  position: absolute;
  width: 60%;
  left: 10%;
  bottom: 24px;
  height: 40%;
  background: #c7ffee;
  z-index: 1;
  border-radius: 10px 0 10px 0;
}
.benefits_main_text {
  margin-top: 12px;
  font-weight: 400;
  color: #444B54;
  font-size: 16px;
}
.benefits_item {
  margin-top: -50px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 30px;
  background-color: #fff;
}
.benefits_item:nth-child(2n) {
  grid-template-columns: 1.5fr 1fr;
}
.benefits_item:nth-child(2n) .benefits_photo {
  grid-column: 2/3;
}
.benefits_item:nth-child(2n) .benefits_main {
  grid-column: 1/2;
  grid-row: 1/2;
}
.benefits_item:nth-child(2n) .benefits_main_title::after {
  width: 40%;
  left: 20%;
  bottom: -6px;
}