@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* reset.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  width: 1240px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

.rtext {
  z-index: 101;
  position: absolute;
  top: 60%;
  right: 40px;
  font-size: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #86a5be;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rtext::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.96875 0V11.2031L0.6875 9.0156L0 9.7344L3.46094 13.0664L6.93755 9.7344L6.24995 9.0156L3.96875 11.1992V0H2.96875Z' fill='%2386A5BE'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.nav {
  margin-top: 120px;
}
.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}
.nav_item {
  font-size: 16px;
  font-weight: 400;
  color: #bec1c5;
}
.nav_item::after {
  content: ">";
  margin-left: 15px;
}
.nav_item:last-child::after {
  content: "";
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
}
.header_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 22px 0;
}
.header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.header_logo {
  height: 50px;
}
.header_logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  padding: 0px 30px;
  background-color: #F9F9F9;
  border-radius: 20px;
}
.header_nav_item {
  font-weight: 400;
  color: #444B54;
  padding: 10px;
  border-radius: 10px;
}
.header_nav_item:hover {
  color: #000000;
  background-color: #e9e9e9;
}
.header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}
.header_info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header_info_social_item {
  background-color: white;
  padding: 12px;
  border-radius: 50px;
}
.header_info_social_item img {
  height: 20px;
}
.header_info_social_item:hover {
  background-color: #c7ffee;
}
.header_info_tel {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: flex-start;
}
.header_info_tel_phone {
  font-weight: 700;
  color: #444B54;
  font-size: 18px;
}
.header_info_tel_time {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
}
.header_mobile {
  display: none;
}

.footer {
  margin-top: 120px;
  background: #fff;
  padding-bottom: 40px;
}
.footer_wrapper {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.footer_item_phone {
  font-weight: 700;
  color: #444B54;
  font-size: 28px;
}
.footer_item_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}
.footer_item_social_block {
  padding: 16px 24px;
  background: #c7ffee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  border-radius: 30px;
}
.footer_item_social_block:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #57ffcd;
}
.footer_item_social_block_icon {
  height: 24px;
}
.footer_item_social_block_text {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
}
.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  background: #f6f6f6;
  border-radius: 30px;
}
.footer_menu_other {
  font-weight: 700;
  color: #444B54;
  font-size: 18px;
}
.footer_menu_li {
  font-weight: 400;
  color: #444B54;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 30px;
}
.footer_menu_li:hover {
  background-color: #e9e9e9;
  color: #000000;
}
.footer_info {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 40px;
}
.footer_info_text {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
}
.footer_info_pol {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
}

.title {
  margin-top: 80px;
  position: relative;
}
.title_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.title_main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  margin: 100px 0 50px 0;
}
.title_photo {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 100;
}
.title_photo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.title_h1 {
  font-weight: 400;
  color: #444B54;
  font-size: 40px;
  line-height: 105%;
}
.title_list {
  list-style: disc;
  list-style-position: inside;
  margin-top: 34px;
}
.title_list_item {
  font-weight: 700;
  color: #444B54;
  font-size: 22px;
  margin-top: 8px;
}
.title_button {
  margin-top: 50px;
  font-weight: 700;
  color: #444B54;
  display: inline-block;
  border-radius: 42px;
  background: #c7ffee;
  font-size: 18px;
  padding: 16px 55px;
  color: #5f5f5f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.title_button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #57ffcd;
  color: #fff;
}

.shop {
  margin-top: 60px;
  position: relative;
  scroll-margin-top: 90px;
}
.shop_title {
  font-weight: 700;
  color: #444B54;
  font-size: 40px;
}
.shop_container {
  background-color: #fff;
  border-radius: 30px;
  padding: 55px;
}
.shop_wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 16px;
}
.shop_item {
  border-radius: 40px;
  background-color: #F9F9F9;
  padding: 32px;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.shop_item_title {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
  z-index: 201;
}
.shop_item_title_h2 {
  font-weight: 700;
  color: #444B54;
  font-size: 20px;
}
.shop_item_title_descr {
  margin-top: 8px;
  font-weight: 400;
  color: #444B54;
  font-size: 16px;
}
.shop_item:hover {
  background-color: #f0f0f0;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.shop_item_button {
  grid-column: 1/2;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}
.shop_item_button_btn {
  display: inline-block;
  border-radius: 42px;
  background: #c7ffee;
  font-size: 18px;
  padding: 16px 55px;
  color: #5f5f5f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  position: relative;
  z-index: 201;
  font-weight: 700;
}
.shop_item_button_btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #57ffcd;
  color: #fff;
}
.shop_item_button_text {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
  color: #8e8e8e;
}
.shop_item_photo {
  position: absolute;
  width: 70%;
  height: 70%;
  right: 0;
  bottom: 7%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 10px;
}
.shop_item_photo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.shop_item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.shop_item:nth-child(1) .shop_item_photo {
  width: 100%;
  bottom: 12%;
}
.shop_item:nth-child(1) .shop_item_title_h2 {
  font-size: 26px;
}
.shop_item:nth-child(1) .shop_item_title_descr {
  font-size: 22px;
}
.shop_item:nth-child(1) .shop_item_button {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column: 1/4;
}
.shop_item:nth-child(1) .shop_item_button_btn {
  font-size: 18px;
  padding: 10px 26px;
}
.shop_item:nth-child(1) .shop_item_button_text {
  margin-bottom: 13px;
}
.shop_list1 {
  margin-top: 60px;
}
.shop_list1 .shop_item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}
.shop_list1 .shop_item:nth-child(1) .shop_item_maintitle {
  grid-column: 1/4;
  grid-row: 1/2;
  font-weight: 400;
  color: #444B54;
  font-size: 54px;
  position: relative;
  z-index: 101;
}
.shop_list1 .shop_item:nth-child(1) .shop_item_maintitle::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 10%;
  height: 20%;
  background: #c7ffee;
  z-index: -1;
}
.shop_list1 .shop_item:nth-child(1) .shop_item_maindescr {
  font-weight: 400;
  color: #444B54;
  grid-column: 1/4;
  grid-row: 2/3;
  font-size: 28px;
}
.shop_list1 .shop_item:nth-child(2) {
  grid-column: 3/5;
  grid-row: 1/2;
}
.shop_list1 .shop_item:nth-child(4) {
  grid-column: 2/4;
  grid-row: 2/3;
}
.shop_list1 .shop_item:nth-child(8) {
  grid-column: 3/5;
  grid-row: 3/4;
}
.shop_list1 .shop_item:nth-child(8) .shop_item_maintitle {
  grid-column: 1/4;
  grid-row: 1/2;
  font-weight: 400;
  color: #444B54;
  font-size: 54px;
  position: relative;
  z-index: 101;
}
.shop_list1 .shop_item:nth-child(8) .shop_item_maintitle::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 10%;
  height: 20%;
  background: #c7ffee;
  z-index: -1;
}
.shop_list1 .shop_item:nth-child(8) .shop_item_maindescr {
  font-weight: 400;
  color: #444B54;
  grid-column: 1/4;
  grid-row: 2/3;
  font-size: 28px;
}
.shop_list1 .shop_item:nth-child(10) {
  grid-column: 2/4;
  grid-row: 4/5;
}

.benefits {
  margin-top: 120px;
  position: relative;
  scroll-margin-top: 90px;
}
.benefits_title {
  font-weight: 700;
  color: #444B54;
  font-size: 40px;
  position: relative;
  z-index: 101;
}
.benefits_title::after {
  content: "";
  position: absolute;
  width: 60%;
  left: 10%;
  bottom: 10%;
  height: 40%;
  background: #c7ffee;
  z-index: -1;
}
.benefits_wrapper {
  margin-top: 40px;
  display: grid;
  gap: 0px;
  border-radius: 30px;
  overflow: hidden;
}
.benefits_photo {
  border-radius: 32px;
  height: 270px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.benefits_photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.benefits_main_title {
  font-weight: 700;
  color: #444B54;
  font-size: 24px;
  position: relative;
  z-index: 2;
}
.benefits_main_title::after {
  content: "";
  position: absolute;
  width: 60%;
  left: 10%;
  bottom: 30px;
  height: 40%;
  background: #c7ffee;
  z-index: 1;
  border-radius: 10px 0 10px 0;
}
.benefits_main_text {
  margin-top: 16px;
  font-weight: 400;
  color: #444B54;
  font-size: 20px;
}
.benefits_item {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 60px;
  background-color: #fff;
}
.benefits_item:nth-child(2n) {
  grid-template-columns: 1.5fr 1fr;
}
.benefits_item:nth-child(2n) .benefits_photo {
  grid-column: 2/3;
}
.benefits_item:nth-child(2n) .benefits_main {
  grid-column: 1/2;
  grid-row: 1/2;
}
.benefits_item:nth-child(2n) .benefits_main_title::after {
  width: 40%;
  left: 20%;
  bottom: -12px;
}

.work {
  margin-top: 120px;
  position: relative;
  scroll-margin-top: 90px;
}
.work_title {
  font-weight: 700;
  color: #444B54;
  font-size: 40px;
}
.work_wrapper {
  margin-top: 40px;
}
.work_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 14px;
  background: #fff;
  border-radius: 18px;
}
.work_filter_item {
  border: 1px solid rgba(55, 160, 217, 0.4);
  border-radius: 20px;
  font-weight: 700;
  color: #444B54;
  font-size: 16px;
  padding: 10px 18px;
  cursor: pointer;
}
.work_filter_item_active {
  background: #c7ffee;
  border: 1px solid #c7ffee;
}
.work_filter_item:hover {
  background: #dbfbf2;
}
.work_exmpl {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.work_exmpl_item {
  overflow: hidden;
}
.work_exmpl_item_photo {
  border-radius: 35px;
  height: 260px;
}
.work_exmpl_item_text {
  font-weight: 400;
  color: #444B54;
  margin: 16px 0 0 24px;
  font-size: 18px;
}
.work_list {
  margin-top: 60px;
}
.work_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  padding: 14px;
  border-radius: 18px;
  background: #fff;
}
.work_more_button {
  display: inline-block;
  border-radius: 42px;
  background: #c7ffee;
  font-size: 18px;
  padding: 16px 55px;
  color: #5f5f5f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.work_more_button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #57ffcd;
  color: #fff;
}
.work_more_text {
  font-weight: 400;
  color: #444B54;
  font-size: 20px;
}

.form {
  scroll-margin-top: 120px;
  margin-top: 120px;
  position: relative;
}
.form_wrapper {
  padding: 30px;
  background: #fff;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_text_h2 {
  font-weight: 700;
  color: #444B54;
  font-size: 36px;
}
.form_text_h3 {
  font-weight: 400;
  color: #444B54;
  font-size: 16px;
  margin-top: 35px;
}
.form_text_h3 span {
  font-weight: 700;
  color: #444B54;
}
.form_main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, auto);
  gap: 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_main_input {
  border: none;
  grid-column: 2/3;
  border-bottom: 1px solid #bec1c5;
  font-weight: 400;
  color: #444B54;
  font-size: 13px;
  height: 36px;
  color: #111;
}
.form_main_input::-webkit-input-placeholder {
  color: #bec1c5;
}
.form_main_input::-moz-placeholder {
  color: #bec1c5;
}
.form_main_input:-ms-input-placeholder {
  color: #bec1c5;
}
.form_main_input::-ms-input-placeholder {
  color: #bec1c5;
}
.form_main_input::placeholder {
  color: #bec1c5;
}
.form_main_box {
  padding: 32px 14px;
  border: 1px dashed #bec1c5;
  border-radius: 18px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  grid-row: 1/4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form_main_box img {
  width: 22px;
  height: 22px;
}
.form_main_box span {
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  color: #444B54;
  color: #b5b5b5;
}
.form_main_box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.form_main_submit {
  border: none;
  display: inline-block;
  border-radius: 42px;
  background: #c7ffee;
  font-size: 18px;
  padding: 16px 55px;
  color: #5f5f5f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  text-align: center;
  grid-column: 2/3;
  padding: 12px;
  margin-top: 20px;
}
.form_main_submit:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #57ffcd;
  color: #fff;
}
.form_main_submit::-webkit-input-placeholder {
  color: #111;
}
.form_main_submit::-moz-placeholder {
  color: #111;
}
.form_main_submit:-ms-input-placeholder {
  color: #111;
}
.form_main_submit::-ms-input-placeholder {
  color: #111;
}
.form_main_submit::placeholder {
  color: #111;
}
.form_main_submit:hover::-webkit-input-placeholder {
  color: #fff;
}
.form_main_submit:hover::-moz-placeholder {
  color: #fff;
}
.form_main_submit:hover:-ms-input-placeholder {
  color: #fff;
}
.form_main_submit:hover::-ms-input-placeholder {
  color: #fff;
}
.form_main_submit:hover::placeholder {
  color: #fff;
}

.news {
  scroll-margin-top: 120px;
  padding: 30px;
  margin-top: 120px;
  position: relative;
  background: #fff;
}
.news_title {
  font-weight: 700;
  color: #444B54;
  font-size: 40px;
}
.news_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.news_item_photo {
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  overflow: hidden;
}
.news_item_date {
  margin-top: 30px;
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
}
.news_item_title {
  margin-top: 8px;
  font-weight: 700;
  color: #444B54;
  font-size: 18px;
}

.que {
  margin-top: 120px;
  position: relative;
  scroll-margin-top: 120px;
}
.que_wrapper {
  display: grid;
  grid-template-columns: 2fr 4fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 60px;
  padding: 40px;
  border-radius: 30px;
  background-color: #fff;
}
.que_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 38px;
}
.que_text_title {
  font-weight: 700;
  color: #444B54;
  font-size: 45px;
  line-height: 100%;
}
.que_text_descr {
  font-weight: 400;
  color: #444B54;
  font-size: 20px;
  margin-top: 24px;
}
.que_text_button {
  border: 1px solid rgba(25, 25, 25, 0.1);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 40px;
  margin-top: 40px;
}
.que_text_button img {
  height: 20px;
}
.que_text_button span {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
}
.que_text_button:hover {
  background: #c7ffee;
}
.que_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.que_content_item {
  padding: 24px;
  border-bottom: 1px solid #efefef;
}
.que_content_item_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.que_content_item_main_text {
  font-weight: 700;
  color: #444B54;
  font-size: 19px;
}
.que_content_item_main_icon {
  border-radius: 9999px;
  background: #f7f7f7;
  padding: 16px;
  height: 56px;
  width: 56px;
  cursor: pointer;
}
.que_content_item_descr {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
  margin-top: 4px;
  display: none;
  width: 80%;
}
.que_content_item_active .que_content_item_descr {
  display: block;
}
.que_content_item_active .que_content_item_main_icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.que_content_item:hover .que_content_item_main_icon {
  background: #c7ffee;
}

.arc {
  margin-top: 60px;
  position: relative;
}
.arc_content {
  background-color: #fff;
  border-radius: 30px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.arc_pick {
  border-radius: 30px;
  background-color: #f6f6f6;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}
.arc_pick_title {
  font-weight: 400;
  color: #444B54;
  font-size: 31px;
  color: #4e4e4e;
  position: relative;
  z-index: 101;
}
.arc_pick_title::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 10%;
  bottom: 10%;
  height: 40%;
  background: #c7ffee;
  z-index: -1;
}
.arc_pick_img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.arc_pick_img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.arc_pick_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
}
.arc_pick_buttons_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}
.arc_pick_buttons_socials_item {
  background-color: white;
  padding: 12px;
  border-radius: 50px;
}
.arc_pick_buttons_socials_item img {
  height: 20px;
}
.arc_pick_buttons_socials_item:hover {
  background-color: #c7ffee;
}
.arc_pick_buttons_price {
  background-color: white;
  padding: 12px 46px 12px 26px;
  border-radius: 50px;
  font-weight: 700;
  color: #444B54;
  font-size: 14px;
  position: relative;
}
.arc_pick_buttons_price::after {
  content: "";
  position: absolute;
  right: 26px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black; /* цвет стрелки */
  width: 0;
  height: 0;
}
.arc_pick_buttons_price:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #57ffcd;
  color: #fff;
}
.arc_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.arc_text_title {
  font-weight: 700;
  color: #444B54;
  font-size: 32px;
  color: #4e4e4e;
}
.arc_text_descr {
  font-weight: 400;
  color: #444B54;
  font-size: 20px;
  color: #4e4e4e;
}

.price {
  margin-top: 60px;
  scroll-margin-top: 100px;
  position: relative;
}
.price_title {
  font-weight: 700;
  color: #444B54;
  font-size: 18px;
  padding: 0 40px;
}
.price_wrapper {
  margin-top: 20px;
  border-radius: 30px;
  background-color: #fff;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.price_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}
.price_list_title {
  font-weight: 700;
  color: #444B54;
  font-size: 24px;
  margin-bottom: 30px;
  position: relative;
  z-index: 101;
}
.price_list_title::after {
  content: "";
  position: absolute;
  width: 60%;
  left: 10%;
  bottom: 10%;
  height: 40%;
  background: #c7ffee;
  z-index: -1;
}
.price_list_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f0f2f6;
  padding: 25px 0;
}
.price_list_li_text {
  font-weight: 700;
  color: #444B54;
  font-size: 18px;
}
.price_list_li_coast {
  font-weight: 700;
  color: #444B54;
  font-size: 18px;
}
.price_seil {
  border-radius: 30px;
  padding: 10px 40px;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  justify-items: center;
}
.price_seil_top {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
}
.price_seil_icon {
  background-color: #c7ffee;
  padding: 18px;
  border-radius: 50px;
}
.price_seil_icon img {
  height: 30px;
}
.price_seil_text {
  font-weight: 700;
  color: #444B54;
  text-align: center;
  font-size: 30px;
}
.price_seil_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  list-style-type: disc;
  list-style-position: inside;
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
}
.price_seil_button {
  display: inline-block;
  border-radius: 42px;
  background: #c7ffee;
  font-size: 18px;
  padding: 16px 55px;
  color: #5f5f5f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.price_seil_button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #57ffcd;
  color: #fff;
}
.price_seil_more {
  font-weight: 400;
  color: #444B54;
  font-size: 14px;
}

.contacts {
  margin-top: 60px;
}
.contacts_wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
}
.contacts_text {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.contacts_text_title {
  font-weight: 700;
  color: #444B54;
  font-size: 36px;
}
.contacts_text_descr {
  font-weight: 400;
  color: #444B54;
  margin-top: 10px;
  font-size: 18px;
}
.contacts_text_social {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.contacts_text_social_item {
  background-color: white;
  padding: 18px;
  border-radius: 50px;
}
.contacts_text_social_item img {
  height: 30px;
}
.contacts_text_social_item:hover {
  background-color: #c7ffee;
}
.contacts_text_phone {
  margin-top: 40px;
}
.contacts_text_phone a {
  font-weight: 700;
  color: #444B54;
  font-size: 24px;
}
.contacts_main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  border-radius: 30px;
  background: #fff;
}
.contacts_main_input {
  border: none;
  background: #f6f6f6;
  border-radius: 30px;
  padding: 26px;
  font-weight: 400;
  color: #444B54;
  font-size: 16px;
  height: 36px;
  color: #111;
}
.contacts_main_input::-webkit-input-placeholder {
  color: #bec1c5;
}
.contacts_main_input::-moz-placeholder {
  color: #bec1c5;
}
.contacts_main_input:-ms-input-placeholder {
  color: #bec1c5;
}
.contacts_main_input::-ms-input-placeholder {
  color: #bec1c5;
}
.contacts_main_input::placeholder {
  color: #bec1c5;
}
.contacts_main_box {
  padding: 32px 14px;
  border: 1px dashed #bec1c5;
  border-radius: 18px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.contacts_main_box img {
  width: 22px;
  height: 22px;
}
.contacts_main_box span {
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  color: #444B54;
  color: #b5b5b5;
}
.contacts_main_box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.contacts_main_submit {
  border: none;
  display: inline-block;
  border-radius: 42px;
  background: #c7ffee;
  font-size: 18px;
  padding: 16px 55px;
  color: #5f5f5f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  text-align: center;
  padding: 12px;
  margin-top: 20px;
}
.contacts_main_submit:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #57ffcd;
  color: #fff;
}
.contacts_main_submit::-webkit-input-placeholder {
  color: #111;
}
.contacts_main_submit::-moz-placeholder {
  color: #111;
}
.contacts_main_submit:-ms-input-placeholder {
  color: #111;
}
.contacts_main_submit::-ms-input-placeholder {
  color: #111;
}
.contacts_main_submit::placeholder {
  color: #111;
}
.contacts_main_submit:hover::-webkit-input-placeholder {
  color: #fff;
}
.contacts_main_submit:hover::-moz-placeholder {
  color: #fff;
}
.contacts_main_submit:hover:-ms-input-placeholder {
  color: #fff;
}
.contacts_main_submit:hover::-ms-input-placeholder {
  color: #fff;
}
.contacts_main_submit:hover::placeholder {
  color: #fff;
}
.contacts_main_title {
  font-weight: 700;
  color: #444B54;
  font-size: 26px;
}
.contacts_main_descr {
  font-weight: 400;
  color: #444B54;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1439px) {
  .container {
    margin: 0 auto;
    width: auto;
    max-width: 90%;
  }
  .title_photo {
    width: 50%;
  }
  .header_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefits_main_title::after {
    z-index: -1;
  }
  .benefits_photo {
    height: 220px;
  }
  .shop_item {
    padding: 24px;
  }
  .shop_item_title {
    grid-column: 1/4;
  }
  .shop_item_title_h2 {
    font-size: 18px;
  }
  .work_exmpl_item_photo {
    height: 220px;
  }
  .form_text_h2 {
    font-size: 26px;
  }
  .que_wrapper {
    gap: 20px 30px;
  }
}
@media (max-width: 1199px) {
  .title_container {
    grid-template-columns: 2fr 1fr;
  }
  .title_photo {
    width: 40%;
  }
  .title_h1 {
    font-size: 32px;
  }
  .title_list_item {
    font-size: 18px;
  }
  .header_main {
    gap: 20px;
  }
  .header_nav {
    gap: 20px;
    padding: 0;
  }
  .header_nav_item {
    padding: 10px;
  }
  .header_info {
    gap: 20px;
  }
  .header_info_social {
    gap: 10px;
  }
  .header_info_tel_phone {
    font-size: 16px;
  }
  .header_info_tel_time {
    font-size: 12px;
  }
  .shop_container {
    padding: 20px;
  }
  .shop_title {
    font-size: 32px;
  }
  .shop_item_title_h2 {
    font-size: 14px;
  }
  .rtext {
    right: 10px;
  }
  .benefits_title {
    font-size: 32px;
  }
  .benefits_item {
    padding: 20px;
  }
  .benefits_main_title {
    font-size: 20px;
  }
  .benefits_main_text {
    font-size: 16px;
  }
  .benefits_photo {
    height: 180px;
  }
  .work_exmpl_item_photo {
    height: 180px;
  }
  .work_more_text {
    font-size: 16px;
  }
  .work_more_button {
    font-size: 16px;
  }
  .form_wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .form_text_h3 {
    margin-top: 16px;
  }
  .form_main_submit {
    grid-column: 1/3;
    width: 50%;
  }
  .news_item_photo {
    height: 180px;
  }
  .news_wrapper {
    gap: 16px;
  }
  .que_wrapper {
    gap: 16px;
    padding: 20px;
  }
  .que_text {
    padding-top: 12px;
  }
  .que_text_title {
    font-size: 32px;
  }
  .que_text_button {
    padding: 14px;
  }
  .que_content_item {
    padding: 12px;
  }
  .que_content_item_main {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .que_content_item_main_icon {
    height: 40px;
    width: 40px;
    padding: 10px;
  }
  .footer_wrapper {
    padding: 20px 0;
  }
  .footer_item_phone {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .header {
    background: #fff;
  }
  .header_grid {
    display: none;
  }
  .header_mobile {
    height: 50px;
    display: block;
    position: relative;
  }
  .header_mobile_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .header_mobile_main_img {
    height: 40px;
  }
  .header_mobile_main_img img {
    height: 100%;
  }
  .header_mobile_main_burger {
    width: 30px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .header_mobile_main_burger span {
    display: block;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header_mobile_top {
    position: fixed;
    background: #f2f2f2;
    width: 100vw;
    height: calc(100vh - 50px);
    right: -110%;
    top: 50px;
    padding: 30px 20px;
    border-top: 2px solid #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header_mobile_top_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 20px;
  }
  .header_mobile_top_info_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .header_mobile_top_info_social_item {
    background-color: white;
    padding: 16px;
    border-radius: 50px;
  }
  .header_mobile_top_info_social_item img {
    height: 30px;
  }
  .header_mobile_top_info_social_item:hover {
    background-color: #c7ffee;
  }
  .header_mobile_top_info_tel {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
  .header_mobile_top_info_tel_phone {
    font-weight: 700;
    color: #444B54;
    font-size: 18px;
  }
  .header_mobile_top_info_tel_time {
    font-weight: 400;
    color: #444B54;
    font-size: 14px;
  }
  .header_mobile_top_nav {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
  .header_mobile_top_nav_item {
    font-weight: 700;
    color: #444B54;
    font-size: 26px;
    width: 80%;
    text-align: center;
    padding: 10px;
    background: #fff;
    border-radius: 30px;
  }
  .header .active span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
  }
  .header .active span:nth-child(2) {
    opacity: 0;
  }
  .header .active span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  .header .active .header_mobile_top {
    right: 0px;
  }
  .rtext {
    display: none;
  }
  .title {
    margin-top: 40px;
  }
  .title_container {
    grid-template-columns: 1fr;
  }
  .title_photo img {
    display: none;
  }
  .title_main {
    justify-items: right;
  }
  .title_h1 {
    font-size: 40px;
  }
  .title_list_item {
    font-size: 20px;
  }
  .shop {
    margin-top: 20px;
  }
  .shop_container {
    padding: 15px;
  }
  .shop_wrapper {
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
  .shop_title {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
  }
  .shop_item {
    grid-template-rows: auto 1fr 1fr;
  }
  .shop_item_title_h2 {
    font-size: 18px;
  }
  .benefits {
    margin-top: 60px;
  }
  .benefits_title {
    font-size: 36px;
    text-align: center;
  }
  .benefits_title::after {
    height: 20px;
    bottom: 30px;
  }
  .benefits_item {
    grid-template-columns: 1fr !important;
    gap: 20px;
  }
  .benefits_item:nth-child(2n) .benefits_photo {
    grid-column: 1/2;
  }
  .benefits_item:nth-child(2n) .benefits_main {
    grid-row: 2/3;
  }
  .benefits_main_title::after {
    height: 16px;
    bottom: auto;
    top: 16px;
  }
  .work {
    margin-top: 40px;
  }
  .work_title {
    font-size: 40px;
    text-align: center;
  }
  .work_filter_item {
    font-size: 14px;
  }
  .work_exmpl {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .work_exmpl_item_photo {
    height: 240px;
    width: 100%;
  }
  .work_more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 20px;
  }
  .form {
    margin-top: 40px;
  }
  .form_main {
    grid-template-columns: 1fr;
  }
  .form_main_input {
    grid-column: 1/2;
  }
  .form_main_box {
    width: 70%;
  }
  .form_main_submit {
    grid-column: 1/2;
    width: auto;
  }
  .news {
    margin-top: 40px;
  }
  .news_wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .news_item_photo {
    height: 240px;
  }
  .news_item_date {
    font-size: 16px;
    margin-top: 14px;
  }
  .news_item_title {
    font-size: 20px;
  }
  .que {
    margin-top: 40px;
  }
  .que_wrapper {
    grid-template-columns: 1fr;
  }
  .footer {
    margin-top: 40px;
  }
  .footer_wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .footer_menu {
    display: none;
  }
  .footer_info {
    text-align: center;
  }
}
@media (max-width: 460px) {
  .header_mobile_top_info {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_mobile_top_info_social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .header_mobile_top_info_tel {
    justify-items: center;
  }
  .container {
    max-width: 95%;
  }
  .title_main {
    margin: 50px 0;
  }
  .shop_container {
    padding: 10px;
  }
  .shop_item {
    padding: 24px 12px;
  }
  .shop_item_button {
    grid-column: 1/4;
    width: 100%;
  }
  .shop_item_button_btn {
    padding: 10px;
  }
  .que_wrapper {
    padding: 20px 10px;
  }
  .que_content_item {
    padding: 12px 6px;
  }
  .news {
    padding: 16px;
  }
  .form_wrapper {
    padding: 16px;
  }
  .title_button {
    padding: 16px;
    width: 100%;
    text-align: center;
  }
}