@media (max-width: 1439px) {
    .container {
        margin: 0 auto;
        width: auto;
        max-width: 90%;
    }
    .title {
        &_photo {
            width: 50%;
        }
    }
    .header {
        &_grid {
            display: flex;
            justify-content: space-between;
        }
    }
    .benefits {
        &_main {
            &_title {
                &::after {
                    z-index: -1;
                }
            }
        }
        &_photo {
            height: 220px;
        }
    }
    .shop {
        &_item {
            padding: 24px;
            &_title {
                grid-column: 1 / 4;
                &_h2 {
                    font-size: 18px;
                }
            }
        }
    }
    .work {
        &_exmpl {
            &_item {
                &_photo {
                    height: 220px;
                }
            }
        }
    }
    .form {
        &_text {
            &_h2 {
                font-size: 26px;
            }
        }
    }
    .que {
        &_wrapper {
            gap: 20px 30px;
        }
    }
}


@media (max-width: 1199px) {
    .title {
        &_container {
            grid-template-columns: 2fr 1fr;
        }
        &_photo {
            width: 40%;
        }
        &_h1 {
            font-size: 32px;
        }
        &_list {
            &_item {
                font-size: 18px;
            }
        }
    }
    .header {
        &_main {
            gap: 20px;
        }
        &_nav {
            gap: 20px;
            padding: 0;
            &_item {
                padding: 10px;
            }
        }
        &_info {
            gap: 20px;
            &_social {
                gap: 10px;
            }
            &_tel {
                &_phone {
                    font-size: 16px;
                }
                &_time {
                    font-size: 12px;
                }
            }
        }
    }
    .shop {
        &_container {
            padding: 20px;
        }
        &_title {
            font-size: 32px;
        }
        &_item {
            &_title {
                &_h2 {
                    font-size: 14px;
                }
            }
        }
    }
    .rtext {
        right: 10px;    
    }
    .benefits {
        &_title {
            font-size: 32px;
        }
        &_item {
            padding: 20px;
        }
        &_main {
            &_title {
                font-size: 20px;
            }
            &_text {
                font-size: 16px;
            }
        }
        &_photo {
            height: 180px;
        }
    }
    .work {
        &_exmpl_item_photo {
            height: 180px;
        }
        &_more {
            &_text {
                font-size: 16px;
            }
            &_button {
                font-size: 16px;
            }
        }
    }
    .form {
        &_wrapper {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &_text {
            &_h3 {
                margin-top: 16px;
            }
        }
        &_main {
            &_submit {
                grid-column: 1/3;
                width: 50%;
            }
        }
    }
    .news {
        &_item_photo {
            height: 180px;
        }
        &_wrapper {
            gap: 16px;
        }
    }
    .que {
        &_wrapper {
            gap: 16px;
            padding: 20px;
        }
        &_text {
            padding-top: 12px;
            &_title {
                font-size: 32px;
            }
            &_button {
                padding: 14px;
            }
        }
        &_content {
            &_item {
                padding: 12px;
                &_main {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    &_icon {
                        height: 40px;
                        width: 40px;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .footer {
        &_wrapper {
            padding: 20px 0;
        }
        &_item {
            &_phone {
                font-size: 18px;
            }
        }
    }
}