@use '../main/mixin' as *;


.benefits {
    margin-top: 120px;
    position: relative;
    scroll-margin-top: 90px;
    &_title {
        @include t700;
        @include fz40;
        position: relative;
        z-index: 101;
        &::after {
            content: '';
            position: absolute;
            width: 60%;
            left: 10%;
            bottom: 10%;
            height: 40%;
            background: #c7ffee;
            z-index: -1;
        }
    }
    &_wrapper {
        margin-top: 40px;
        display: grid;
        gap: 0px;
        border-radius: 30px;
        overflow: hidden;
    }
    &_photo {
        border-radius: 32px;
        height: 270px;
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &_main {
        &_title {
            @include t700;
            font-size: 24px;
            position: relative;
            z-index: 2;
            &::after {
                content: '';
                position: absolute;
                width: 60%;
                left: 10%;
                bottom: 30px;
                height: 40%;
                background: #c7ffee;
                z-index: 1;
                border-radius: 10px 0 10px 0
            }
        }
        &_text {
            margin-top: 16px;
            @include t400;
            font-size: 20px;
        }
    }
    &_item {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 40px;
        align-items: center;
        padding: 40px 60px;
        background-color: #fff;
        &:nth-child(2n) {
            grid-template-columns: 1.5fr 1fr;
            .benefits_photo {
                grid-column: 2 / 3;
            }
            .benefits_main {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            .benefits_main_title::after {
                width: 40%;
                left: 20%;
                bottom: -12px;
            }
        }
    }

}   