@use '../main/mixin' as *;

.footer {
    margin-top: 120px;
    background: #fff;
    padding-bottom: 40px;
    &_wrapper {
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }
    &_item {
        &_phone {
            @include t700;
            font-size: 28px;
        }
        &_social {
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            
            &_block {
                padding: 16px 24px;
                @include c7;
                display: flex;
                justify-content: center;
                gap: 10px;
                border-radius: 30px;
                &:hover {
                    transform: scale(1.05);
                    background-color: #57ffcd;
                }
                &_icon {
                    height: 24px;

                }
                &_text {
                    @include t400;
                    font-size: 14px;
                }
            }
        }
    }
    &_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        background: #f6f6f6;
        border-radius: 30px;
        &_other {
            @include t700;
            font-size: 18px;
            
        }
        &_li {
            @include t400;
            font-size: 18px;
            padding: 12px 20px;
            border-radius: 30px;
            &:hover {
                background-color: #e9e9e9;
                color: #000000;
            }
        }
    }
    &_info {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 40px;
        &_text {
            @include t400;
            font-size: 14px;
        }
        &_pol {
            @include t400;
            font-size: 14px;
        }
    }
}