@use '../main/mixin' as *;

.que {
    margin-top: 120px;
    position: relative;
    scroll-margin-top: 120px;
    &_wrapper {
        display: grid;
        grid-template-columns: 2fr 4fr;
        justify-content: center;
        gap: 20px 60px;
        padding: 40px;
        border-radius: 30px;
        background-color: #fff;
    }
    &_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 38px;
        &_title {
            @include t700;
            font-size: 45px;
            line-height: 100%;
        }
        &_descr {
            @include t400;
            font-size: 20px;
            margin-top: 24px;
        }
        &_button {
            border: 1px solid rgba(25, 25, 25, 0.1);
            border-radius: 12px;
            display: flex;
            gap: 12px;
            justify-content: center;
            padding: 14px 40px;
            margin-top: 40px;
            
            img {
                height: 20px;
            }
            span {
                @include t400;
                font-size: 14px;
            }
            &:hover {
                background: #c7ffee;
            }
        }
    }
    &_content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        &_item {
            padding: 24px;
            border-bottom: 1px solid #efefef;
            &_main {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 40px;
                transition: all 0.3s ease;
                &_text {
                    @include t700;
                    font-size: 19px;
                }
                &_icon {
                    border-radius: 9999px;
                    background: #f7f7f7;
                    padding: 16px;
                    height: 56px;
                    width: 56px;
                    cursor: pointer;
                }
            }
            &_descr {
                @include t400;
                font-size: 14px;
                margin-top: 4px;
                display: none;
                width: 80%;
            }
            &_active {
                .que_content_item_descr {
                    display: block;
                }
                .que_content_item_main_icon {
                    transform: rotate(45deg);
                }
            }
            &:hover {
                .que_content_item_main_icon {
                    background: #c7ffee;
                }
            }
        }
    }
}