@use '../main/mixin' as *;

.shop {
    margin-top: 60px;
    position: relative;
    &_title {
        @include t700;
        @include fz40;
    }
    &_container {
        background-color: #fff;
        border-radius: 30px;
        padding: 55px;
    }
    &_wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 16px;
    }
    &_item {
        border-radius: 40px;
        background-color: #F9F9F9;
        padding: 32px;
        display: grid;
        align-items: start;
        justify-items: start;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3,1fr);
        position: relative;
        &_title {
            grid-column: 1/3;
            grid-row: 1/2;
            position: relative;
            z-index: 201;
            &_h2 {
                @include t700;
                font-size: 20px;
            }
            &_descr {
                margin-top: 8px;
                @include t400;
                font-size: 16px;
            }
        }
        
        &_button {
            grid-column: 1/2;
            grid-row: 3/4;
            display: flex;
            align-items: flex-end;
            height: 100%;
            &_btn {
                @include button;
                font-size: 14px;
                padding: 10px 20px;
                position: relative;
                z-index: 201;
            }
            &_text {
                @include t400;
                font-size: 14px;
                color: #8e8e8e;
            }
        }
        &_photo {
            position: absolute;
            width: 70%;
            height: 70%;
            right: 0;
            bottom: 7%;
            z-index: 200;
            display: flex;
            justify-content: flex-end;
            img {
                height: 100%;
                object-fit: contain;
            }

        }
        &:nth-child(1){
            grid-column: 1/3;
            grid-row: 1/3;
            .shop_item_photo {
                width: 100%;
                bottom: 12%;
            }
            .shop_item_title_h2 {
                font-size: 26px;
            }
            .shop_item_title_descr {
                font-size: 22px;
            }
            .shop_item_button {
                width: 100%;
                justify-content: space-between;
                grid-column: 1/4;
                &_btn {
                    font-size: 18px;
                    padding: 10px 26px;
                }
                &_text {
                    margin-bottom: 13px;
                }
            }
        }
    }
}