@use '../main/mixin' as *;

.work {
    margin-top: 120px;
    position: relative;
    &_title {
        @include t700;
        @include fz40;
    }
    &_wrapper {
        margin-top: 40px;
    }
    &_filter {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
        padding: 14px;
        background: #fff;
        border-radius: 18px;
        &_item {
            border: 1px solid rgba(55, 160, 217, 0.4);
            border-radius: 20px;
            @include t700;
            font-size: 16px;
            padding: 10px 18px;
            cursor: pointer;
            &_active {
                @include c7;
                border: 1px solid #c7ffee;
            }
            &:hover {
                background: #dbfbf2;
            }
        }
    }
    &_exmpl {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        &_item {
            overflow: hidden;
            &_photo {
                border-radius: 35px;
                height: 260px;
            }
            &_text {
                @include t400;
                margin: 16px 0 0 24px;
                font-size: 18px;
            }
        }
    }
}